body {
    background: #f5f7fb;
    font-family: Arial, sans-serif;
}


.search-container {
    max-width: 750px;
    margin: auto;
}


.player-card {
    border: none;
    border-radius: 15px;
    transition: 0.2s;
}


.player-card:hover {
    transform: translateY(-5px);

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.12) !important;
}


.player-card h4 {
    font-size: 21px;
}


.stat {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.stat strong {
    font-size: 22px;
}


.stat small {
    color: #777;
}


.info-box {
    background: #f5f6f8;
    border-radius: 12px;
    padding: 20px;
    height: 100%;
}


.info-box h5 {
    font-weight: bold;
    margin-bottom: 15px;
}


.info-box p {
    margin: 0;
    line-height: 1.8;
}


.stat-box {
    border-radius: 12px;
    padding: 20px;
    color: white;
}


.goals {
    background: #0d6efd;
}


.assists {
    background: #198754;
}


.big-number {
    font-size: 42px;
    font-weight: bold;
}


.trophies-box {
    background: #fff3cd;
    border-radius: 12px;
    padding: 20px;
}


.trophies-box h5 {
    font-weight: bold;
}


.trophies-box p {
    margin: 0;
    line-height: 2;
}


@media (max-width: 576px) {

    h1 {
        font-size: 28px;
    }

    .player-card h4 {
        font-size: 18px;
    }

}
